<div class="form-check" style="">
    <input class="form-check-input" type="checkbox" id="changesMade" checked />
    <span class="requirement-description-head11">
      {{requirement.short_description}}
    
        <span class="icon create-compliance-item">
          <i class="bx bxs-arrow-from-left"></i> {{ requirement.parent_requirement_id }}
        </span>

         <!-- Create compliance requirement -->

         <div style="display: none; border: 2px solid #F5F5F5;" class="requirement-details">
       
          <h5 class="card-title">
            Create implementation Status for this requirement <br/>
          </h5>

          <!-- Multi Columns Form -->
          <form action="{% url 'create-security-requirement' method="post" 
            frameworkid=sframework.id assetid=asset.id requirementid=requirement.id  %}"
              class="row g-3 needs-validation container-fluid" novalidate >
        
          
                   {% csrf_token %}
                  <div >
                    <label for="description" class="form-label"
                      ><strong>Description:</strong></label
                    >
                    <input style="max-width:450px;" size="32" maxlength="50"
                      type="text"
                      name="description"
                      value=""
                    />
                  </div>

                  <div class="mb-8">
                    <label
                      for="exampleFormControlTextarea1"
                      class="form-label"
                      ><strong>Details of actions taken:</strong></label
                    >
                    <textarea class="form-control editable" name="details" rows="2">
                    {{item.details}}
                    </textarea>
                  </div>

                  <div class="control-group">
                    <div class="controls controls-row row-fluid">
                      <label for="isdate" class="form-label"
                        >Start date:</label
                      >
                      <input
                      type="datetime-local" name="implementation_start_date"
                        class="span4"
                        
                        value=""
                        
                      />
                  
                  
                      <label
                      for="validationCustom022"
                      class="form-label"
                      >Completion date:</label
                    >
                    <input
                      type="datetime-local" name="expected_completion_date"
                      class="span4"
                      
                      value=""
                      
                    />
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls controls-row row-fluid">
                  
                      <label for="ownerID">Owner</label>
                      <select style="max-width:150px;" name="owner_id">
                        {% for user in users.all %}
                        
                        <span>
                          <option {% if  user.id == item.owner_id %} selected{% endif %} value="{{ user.id }}">
                            {{ user.username }}
                          </option>
                        </span>
                  
                        {% endfor %}
                      </select>
                      <label for="sownerID">Assigned To</label>
                      <select style="max-width:150px;" name="assigned_to_id" >
                        {% for assigneduser in users.all %}
                        
                        <span>
                          <option {% if  assigneduser.id == item.assigned_to_id %} selected{% endif %} value="{{ assigneduser.id }}">
                            {{ assigneduser.username }}
                          </option>
                        </span>
                  
                        {% endfor %}
                      </select> 
                      </div>
                  </div> 


                <div class="controls controls-row row-fluid">
                    <label for="cst">Completion status ({{ item.completion_Status }})</label>
                    <select  name="completion_status" required>
                    {% for value, label in completion_status_choices %}
                    <option {% if value == item.completion_Status %} selected{% endif %} value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="controls controls-row row-fluid">
                    <label
                    for="ipercent"
                    >Completion percent</label
                    >
                    <input 
                    type="text" name="implementation_percent"
                    class="col-xs-2" maxlength="3" size="4"
                    value="{{ item.implementation_percent }}"
                    required
                    />
                </div>     
                        
                <div class="controls controls-row row-fluid">
                    <label
                    for="validationCustom02ac{{item.id}}"
                    class="form-label"
                    >Actual completion date ({{item.actual_implementation_date}}): {{item.actual_implementation_date|timesince}}</label
                    >
                    <input
                    type="datetime-local" name="actual_implementation_date"
                    class="span4"
                    
                    value=""
                    
                    />
                </div>  

                  <div class="control-group">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>

                  </div>
            </form>                        
          </div>
        </span>
     </div>




