{% for sframework in asset.SecurityManagementFrameworks.all %}
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">
                    {{sframework.title}} implementation requirements
                  </label>


                 
            </div>
{% endfor %}  



{% if requirement.sub_requirements.all %}
<div class="mt-3 ms-4">
    {% for sub_requirement in requirement.sub_requirements.all %}
        {% include 'assets/security-management-requirement.html' with requirement=sub_requirement %}
    {% endfor %}
</div>
{% endif %}


<!-- Check if requirement has sub_requirements -->
{% if requirement.sub_requirements.all %}
<span>Number of sub requirements: {{ requirement.sub_requirements.count }} </span>
<div  style="{% if requirement.parent_requirement_id == None %}border: 1px solid #E7E7E7{% endif %}">
    {% for sub_requirement in requirement.sub_requirements.all %}

    {% if sub_requirement.parent_requirement_id == requirement.id %}
    <div class="mt-3" style="margin-left: 20px;">
        {% include 'assets/security-management-requirement.html' with requirement=sub_requirement %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- End Check if requirement has sub_requirements -->

<div class="col-xl-4 offcanvas offcanvas-end show" id="demo">
</div>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Toggle Right Offcanvas
  </button>