{% load static %}

<head>
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'main.258c5aab1b2e1683c7ec.app.js' %}"></script>
</head>

<hr />
<h2>
  {% if user.is_authenticated %} Hi {{ user.username }}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>

  <br />
  You are logged in <br />
  Full Name: {{ user.first_name}} {{ user.last_name}}
  <br />

  {% else %}
  <a href="{% url 'login' %}">Log In</a>
  <br />
  <a href="{% url 'signup' %}">Sign Up</a>
  <br />
  <p>Hi Guest, you are NOT logged In</p>
  {% endif %}
</h2>
<hr />

<h1>Hello world from html file...22</h1>
<br />
<h1>This is python home</h1>

<br />
The vars: <br />
Message: {{vars.message}} {% if name %}
<h2>Yes there is a name</h2>
<br />
Hello {{ name }} {% else %}
<br />

No there is no name {% endif %}

<div id="message"></div>
