{% load static %}

<!-- Alert for error messages -->
{% if messages %}
<div
  style="
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 9999;
  "
>
  {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    <i class="bi bi-exclamation-octagon me-1"></i>
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}
</div>
{% endif %}

<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="/flexhome/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="{% static 'hometheme/assets/img/logo.png' %}" alt="" />
      <h1 class="sitename">CryptoData</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="#hero" class="active">Home<br /></a>
        </li>

        <li><a href="{% url 'blogurl' %}">Blog</a></li>
        <li class="dropdown">
          <a href="#about"
            ><span>About</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li><a href="#team">Team</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
          </ul>
        </li>
        <li class="listing-dropdown">
          <a href="#"
            ><span>Listing Dropdown</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li>
              <a href="#">Column 1 link 1</a>
              <a href="#">Column 1 link 2</a>
              <a href="#">Column 1 link 3</a>
            </li>
            <li>
              <a href="#">Column 2 link 1</a>
              <a href="#">Column 2 link 2</a>
              <a href="#">Column 3 link 3</a>
            </li>
            <li>
              <a href="#">Column 3 link 1</a>
              <a href="#">Column 3 link 2</a>
              <a href="#">Column 3 link 3</a>
            </li>
            <li>
              <a href="#">Column 4 link 1</a>
              <a href="#">Column 4 link 2</a>
              <a href="#">Column 4 link 3</a>
            </li>
            <li>
              <a href="#">Column 5 link 1</a>
              <a href="#">Column 5 link 2</a>
              <a href="#">Column 5 link 3</a>
            </li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'nicelogin' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted flex-md-shrink-0" href="{% url 'dashboard_home' %}"
      >Get Started</a
    >
  </div>
</header>
